<!DOCTYPE html>
<html>
<body>
    <p>Hello {{ user.username }},</p>
    <p>Thank you for registering with our website. Please click the link below to confirm your email:</p>
    <a href="http://127.0.0.1:8000{{ confirmation_link }}" target="_blank">Confirm Email</a>
</body>
</html>